#root {
  max-width: 100%; /* Cambia esto para que no limite el ancho */
  margin: 0 auto;
  padding: 1rem; /* Reduce el padding para dispositivos móviles */
  text-align: center;
}

.card {
  padding: 1em; /* Reduce el padding para dispositivos móviles */
  margin-bottom: 1em; /* Añade margen inferior para separar las tarjetas */
}

@media (max-width: 768px) {
  .card {
    padding: 0.5em; /* Ajusta el padding para tablets y móviles */
  }
}