body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.login-container,
.register-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Cambia esto para que sea responsivo */
  max-width: 400px; /* Añade un máximo ancho */
  margin: 20px auto; /* Centra el contenedor */
}

@media (max-width: 768px) {
  .login-container,
  .register-container {
    width: 90%; /* Ajusta el ancho para dispositivos móviles */
  }
}